<!doctype html>
<html>
<head>
    <title> Mideer Gallery </title>
</head>
<body>
  <header><img src='/img/react_logo.png' height="28" width="28" alt='mideer gallery logo'></header>
  {{{body}}}
  <h2>{{data}}</h2>
  <h3>haha {{data}}</h3>

</body>
</html>
